### BEGIN @animavirtuality/config generated content ###
# IDE Files
.idea/
.vscode/
.history/
xcuserdata/

# Directories
/.secret/
/build/
/dist/
node_modules/
.terraform/
.rollup.cache/

# Files
node-config.debug.log
tsconfig.tsbuildinfo

# Mac0S Files
.DS_Store
.AppleDouble
.LSOverride

# WSL Files
*Zone.Identifier
### END @animavirtuality/config generated content ###
